@using PEPe.DataAccessModel

@{
    ViewBag.Title = "UsuarioDetalhe";
}

@model Usuario


@*OBS: Tem que criar um js dentro da pasta scripts/areas/nomedasessao depois colocar ele no \app_start\BundleConfing.cs*@
@Scripts.Render("~/bundles/thema")
@Scripts.Render("~/Areas/Usuario")

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>
    <div class="page-title">
        Usuário
        @*<small class="hidden-xs">
            <strong>This form has validation</strong>
        </small>*@
    </div>
</div>
<div class="content-wrapper">
    <form id="form-usuario" class="form-horizontal" method="post" action="~/Logado/Usuario/UsuarioSalvar" role="form">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">Nome</label>
            <div class="col-sm-10 col-md-8">
                <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome" maxlength="255" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-md-2 control-label">E-mail</label>
            <div class="col-sm-10 col-md-8">
                <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" maxlength="255" />
            </div>
        </div>

        <div class="form-group form-actions">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="form.html" class="btn btn-default">Cancela</a>
                <button type="submit" class="btn btn-success">Registra</button>
            </div>
        </div>
    </form>
</div>